.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #eaeaec;
}
body {
  font-family: Source Serif 4;
}
.display-1 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ef233c !important;
}
.bg-success {
  background-color: #23bc75 !important;
}
.bg-info {
  background-color: #0bb2d4 !important;
}
.bg-warning {
  background-color: #dfa700 !important;
}
.bg-danger {
  background-color: #be2130 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ef233c !important;
  border-color: #ef233c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #f25366 !important;
  border-color: #f25366 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f25366 !important;
  border-color: #f25366 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c63837 !important;
  border-color: #c63837 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #d25f5e !important;
  border-color: #d25f5e !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d25f5e !important;
  border-color: #d25f5e !important;
}
.btn-info,
.btn-info:active {
  background-color: #0bb2d4 !important;
  border-color: #0bb2d4 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #1fcff3 !important;
  border-color: #1fcff3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1fcff3 !important;
  border-color: #1fcff3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #23bc75 !important;
  border-color: #23bc75 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #38da8f !important;
  border-color: #38da8f !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #38da8f !important;
  border-color: #38da8f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #dfa700 !important;
  border-color: #dfa700 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffc413 !important;
  border-color: #ffc413 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffc413 !important;
  border-color: #ffc413 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #be2130 !important;
  border-color: #be2130 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #dc3646 !important;
  border-color: #dc3646 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #dc3646 !important;
  border-color: #dc3646 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ef233c;
  color: #ef233c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #af0d21 !important;
  background-color: transparent !important;
  border-color: #af0d21 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ef233c !important;
  border-color: #ef233c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c63837;
  color: #c63837;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #822524 !important;
  background-color: transparent !important;
  border-color: #822524 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c63837 !important;
  border-color: #c63837 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0bb2d4;
  color: #0bb2d4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #076d82 !important;
  background-color: transparent !important;
  border-color: #076d82 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0bb2d4 !important;
  border-color: #0bb2d4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #23bc75;
  color: #23bc75;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #157348 !important;
  background-color: transparent !important;
  border-color: #157348 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #23bc75 !important;
  border-color: #23bc75 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #dfa700;
  color: #dfa700;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #886600 !important;
  background-color: transparent !important;
  border-color: #886600 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #dfa700 !important;
  border-color: #dfa700 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #be2130;
  color: #be2130;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #74141d !important;
  background-color: transparent !important;
  border-color: #74141d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #be2130 !important;
  border-color: #be2130 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ef233c !important;
}
.text-secondary {
  color: #c63837 !important;
}
.text-success {
  color: #23bc75 !important;
}
.text-info {
  color: #0bb2d4 !important;
}
.text-warning {
  color: #dfa700 !important;
}
.text-danger {
  color: #be2130 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a00c1e !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #762121 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #13663f !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #066173 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #795b00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #67121a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ef233c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0bb2d4;
}
.alert-warning {
  background-color: #dfa700;
}
.alert-danger {
  background-color: #be2130;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ef233c;
  border-color: #ef233c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ef233c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fde1e5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #79e6b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b0eefb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffeaac;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e77782;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ef233c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #ef233c;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ef233c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ef233c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ef233c;
  border-bottom-color: #ef233c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ef233c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #c63837 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ef233c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-ubcNpV3SkY {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/photo-1517678452691-24622a91b550-1680x945.jpg");
}
.cid-ubcNpV3SkY .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-ubcNpV3SkY {
    align-items: flex-end;
  }
  .cid-ubcNpV3SkY .row {
    justify-content: flex-start;
  }
  .cid-ubcNpV3SkY .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ubcNpV3SkY .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-ubcNpV3SkY {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-ubcNpV3SkY .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-ubcNpV3SkY .content-wrap {
    width: 100%;
  }
}
.cid-ubcNpV3SkY .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV3SkY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubcNpV3SkY .mbr-section-title,
.cid-ubcNpV3SkY .mbr-section-subtitle {
  text-align: center;
  color: #ffc091;
}
.cid-ubcNpV3SkY .mbr-text,
.cid-ubcNpV3SkY .mbr-section-btn {
  text-align: center;
}
.cid-ubcNpV3SkY .mbr-section-title {
  color: #2B2D42;
}
.cid-ubcNpV3SkY .mbr-section-subtitle {
  color: #2B2D42;
}
.cid-ubcNpV4ZWh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ubcNpV4ZWh .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV4ZWh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubcNpV4ZWh .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-ubcNpV4ZWh .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-ubcNpV4ZWh .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-ubcNpV4ZWh .card-wrapper {
    padding: 4rem;
  }
}
.cid-ubcNpV4ZWh .mbr-text,
.cid-ubcNpV4ZWh .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-ubcNpV4ZWh .card-title,
.cid-ubcNpV4ZWh .card-box {
  text-align: left;
  color: #000000;
}
.cid-ubcNpV4r3C {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ubcNpV4r3C .mbr-text {
  color: #000000;
}
.cid-ubcNpV4r3C .mbr-section-subtitle {
  color: #000000;
}
.cid-ubcNpV4r3C .mbr-section-title {
  color: #000000;
}
.cid-ubcNpV4hr0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ubcNpV4hr0 .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-ubcNpV4hr0 img,
.cid-ubcNpV4hr0 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ubcNpV4hr0 .item:focus,
.cid-ubcNpV4hr0 span:focus {
  outline: none;
}
.cid-ubcNpV4hr0 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV4hr0 .item {
    margin-bottom: 1rem;
  }
}
.cid-ubcNpV4hr0 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ubcNpV4hr0 .mbr-section-title {
  color: #232323;
}
.cid-ubcNpV4hr0 .mbr-text,
.cid-ubcNpV4hr0 .mbr-section-btn {
  color: #232323;
}
.cid-ubcNpV4hr0 .item-title {
  color: #232323;
}
.cid-ubcNpV4hr0 .content-head {
  max-width: 800px;
}
.cid-ubcNpV53JN {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-ubcNpV53JN .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV53JN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubcNpV53JN .row-reverse {
  flex-direction: row-reverse;
}
.cid-ubcNpV53JN .row {
  flex-direction: row-reverse;
}
.cid-ubcNpV53JN .row-reverse {
  flex-direction: row;
}
@media (max-width: 991px) {
  .cid-ubcNpV53JN .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ubcNpV53JN .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-ubcNpV53JN .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-ubcNpV53JN .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-ubcNpV53JN .mbr-section-title {
  color: #000000;
}
.cid-ubcNpV53JN .mbr-text,
.cid-ubcNpV53JN .mbr-section-btn {
  color: #000000;
}
.cid-ubcNpV53JN img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV53JN img {
    height: 15rem;
  }
}
.cid-ubcNpV5Dhz {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-ubcNpV5Dhz .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV5Dhz .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-ubcNpV5Dhz .item-head {
  background: #ef233c;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ubcNpV5Dhz .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ubcNpV5Dhz .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ubcNpV5Dhz .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ubcNpV5Dhz .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-ubcNpV5Dhz .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-ubcNpV5Dhz .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-ubcNpV5Dhz .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ubcNpV5Dhz .item-wrapper .item-footer {
    padding: 0 1.5rem 2rem;
  }
}
@media (min-width: 1201px) {
  .cid-ubcNpV5Dhz .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
.cid-ubcNpV5Dhz .btn {
  width: -webkit-fill-available;
}
.cid-ubcNpV5Dhz .item:focus,
.cid-ubcNpV5Dhz span:focus {
  outline: none;
}
.cid-ubcNpV5Dhz .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-ubcNpV5Dhz .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ubcNpV5Dhz .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ubcNpV5Dhz .mbr-section-title {
  color: #000000;
}
.cid-ubcNpV5Dhz .mbr-section-subtitle {
  color: #ffffff;
}
.cid-ubcNpV5Dhz .mbr-text,
.cid-ubcNpV5Dhz .mbr-section-btn {
  text-align: left;
}
.cid-ubcNpV5Dhz .item-title {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-ubcNpV5Dhz .item-subtitle {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-ubcNpV5Dhz .content-head {
  max-width: 800px;
}
.cid-ubcNpV5v4J {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ubcNpV5v4J .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV5v4J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubcNpV5v4J .row {
  flex-direction: row-reverse;
}
.cid-ubcNpV6wMF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ubcNpV6wMF .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-ubcNpV6wMF .panel-group {
  border: none;
}
.cid-ubcNpV6wMF .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV6wMF .card-header {
    padding: 0rem;
  }
}
.cid-ubcNpV6wMF .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-ubcNpV6wMF .img-col {
  padding: 0;
}
.cid-ubcNpV6wMF .img-item {
  height: 100%;
}
.cid-ubcNpV6wMF img {
  height: 100%;
  object-fit: cover;
}
.cid-ubcNpV6wMF .collapsed span {
  transform: rotate(0deg);
}
.cid-ubcNpV6wMF .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-ubcNpV6wMF p {
  margin-bottom: 0.3rem;
}
.cid-ubcNpV6wMF .panel-title-edit {
  color: #000000;
}
.cid-ubcNpV6wMF .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-ubcNpV6wMF .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV6wMF .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ubcNpV6wMF .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-ubcNpV6wMF .panel-text {
  color: #000000;
}
.cid-ubcNpV6wMF .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-ubcNpV6wMF .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-ubcNpV6wMF .panel-title-edit,
.cid-ubcNpV6wMF .mbr-iconfont {
  color: #000000;
}
.cid-ubcNpV6BQi {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-ubcNpV6BQi .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV6BQi .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cid-ubcNpV6BQi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubcNpV6BQi .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #d70081;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-ubcNpV6BQi .card-title,
.cid-ubcNpV6BQi .iconfont-wrapper,
.cid-ubcNpV6BQi .card-text {
  color: #000000;
  text-align: center;
}
.cid-ubcNpV6BQi .content-head {
  max-width: 800px;
}
.cid-ubcNpV6BQi .mbr-section-title {
  color: #000000;
}
.cid-ubcNpV6BQi .mbr-section-btn {
  text-align: center;
}
.cid-ubcNpV6BQi .card-title,
.cid-ubcNpV6BQi .iconfont-wrapper {
  color: #EF233C;
}
.cid-ubcNpV7GyB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-ubcNpV7GyB .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubcNpV7GyB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-ubcNpV7GyB .container-fluid {
    padding: 0;
  }
}
.cid-ubcNpV7GyB .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-ubcNpV7GyB .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ubcNpV7GyB .embla__slide a {
  display: block;
  width: 100%;
}
.cid-ubcNpV7GyB .embla__button--next,
.cid-ubcNpV7GyB .embla__button--prev {
  display: flex;
}
.cid-ubcNpV7GyB .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-ubcNpV7GyB .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-ubcNpV7GyB .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-ubcNpV7GyB .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ubcNpV7GyB .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ubcNpV7GyB .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ubcNpV7GyB .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ubcNpV7GyB .embla {
  position: relative;
  width: 100%;
}
.cid-ubcNpV7GyB .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ubcNpV7GyB .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ubcNpV7GyB .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ubcNpV7GyB .embla__slide a {
  cursor: grab;
}
.cid-ubcNpV7GyB .embla__slide a:active {
  cursor: grabbing;
}
.cid-ubcNpV7GyB .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ubcNpV7GyB .item-menu-overlay {
  border-radius: 2rem;
}
.cid-ubcNpV7GyB .mbr-section-title {
  color: #232323;
}
.cid-ubcNpV7GyB .mbr-section-subtitle {
  color: #232323;
}
.cid-ubcNpV7GyB .mbr-box {
  color: #ffffff;
}
.cid-ubcNpV7GyB .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-ubcNpV7GyB img,
.cid-ubcNpV7GyB .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ubcNpV7GyB .item-wrapper {
  position: relative;
}
.cid-ubcNpV7GyB .content-head {
  max-width: 800px;
}
.cid-ubcNpV7Q5x {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-ubcNpV7Q5x .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-ubcNpV7Q5x .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ubcNpV7Q5x .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ubcNpV7Q5x .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-ubcNpV7Q5x .card-title,
.cid-ubcNpV7Q5x .iconfont-wrapper {
  color: #000000;
}
.cid-ubcNpV7Q5x .card-text {
  color: #000000;
  text-align: left;
}
.cid-ubcNpV7Q5x .content-head {
  max-width: 800px;
}
.cid-ubcNpV7Q5x .mbr-section-title {
  color: #000000;
}
.cid-ubcNpV7Q5x .card-title,
.cid-ubcNpV7Q5x .img-wrapper {
  text-align: center;
}
.cid-ubcNpV7Q5x .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-ubcNpV97K8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-ubcNpV97K8 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-ubcNpV97K8 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-ubcNpV97K8 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-ubcNpV97K8 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-ubcNpV97K8 .content-head {
  max-width: 800px;
}
